
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
 
     }

/* Style the header */
.header {
  grid-area: header;
  background-color: #050c72;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* The grid container */
.grid-container {
  display: grid;
  padding: 2px;
  grid-template-areas: 
    'header header header header header header' 
    'left middle middle middle middle right' 
    'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 

.left,
.middle,
.right {
  padding: 1px;

}

/* Style the left column */
.left {


 
  padding: 1px;

}

/* Style the middle column */
.middle {

 display: flexbox;
  grid-area: middle;
  text-align: left;
 background-color: rgb(82, 238, 77);
  
}

/* Style the right column */
.right {
  grid-area: right;
}

/* Style the footer */
.footer {
 
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 5px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
  }
}
.flex-container {
  display:flex;
  flex-wrap:nowrap;
  background-color: rgb(180, 173, 245);
  color:rgb(247, 226, 230);
  padding: 1px;
 
}


.flex-container > div {
  background-color: #8b86d4;
  width: 100%;
  margin: 1px;
  text-align:center;
  line-height: auto;
  font-size: 12px;
}

.b1{
   margin: 1px;
    background-color: #67789e;
    text-align:left;
    font-size: 12px;
    font-family:Verdana;color:#6cf560;
    padding: 12px;
}
nav {
    
    align-items:left;          
    background-color:  rgba(0,0,0,.125);
    padding: 1px;

    
      }

  ul {         
    letter-spacing: 4px;
    color:white
    }
  .elipsa {
    border-radius: 100px;
    box-shadow: inherit;
  border: rgb(209, 196, 209);
} 
@import url('https://fonts.googleapis.com/css?family=Merriweather');
html {
  font-family: 'Merriweather', serif;
  font-size: 14px;
}

svg {
  margin-left: 200px;
  display: flex;
  width: 700px;
}
#states *.on {
  fill: #2196F3;
}
.svg-states{
  display: flexbox;
}

.list-of-states {
  margin: 0;
  padding: 0;
  columns: 100px auto;
  column-gap: 8px;
  list-style: none;
}
.list-of-states li {
  padding: 2px 4px;
  display: inline-block;
  width: 100%;
  background-color: rgba(0,0,0,.25);
}
.list-of-states li.on {
  background: white;
  color: #2196F3;
  font-weight: bold;
}

path {fill: rgba(0,0,0,.30); transition:0.9s fill;}
path:hover{fill: #2196F3;}    


