@font-face {
    font-family: 'font1';
    src: url('azbuka03_d.ttf');
}
@font-face {
    font-family: 'font2';
    src: url('Mutlu.ttf');
}
h13 { font-size: 4em;color: rgb(229, 240, 85); font-family: 'font1', sans-serif; }
h14 { font-size: 3em;color: rgb(187, 240, 240); font-family: 'font2', sans-serif; }